<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	
	<!-- navbar -->

    <%- include('header'); %>

	<div class="col-8 offset-2">
		
		<h3 class="titleTicket offset-3">My tickets:</h3>

		<table class="table table-borderless">
			<thead>
			  <tr class="table-light">
				<th scope="col">N°</th>
				<th scope="col">Journey</th>
				<th scope="col">Date</th>
				<th scope="col">Departure time</th>
				<th scope="col">Price</th>
			  </tr>
			</thead>
			<tbody>
			<% var total = 0	
			   for (i=0; i<journey.length; i++) { 
				console.log(journey[i].price)   
				%>
			  <tr class="table-light">
				<th scope="row"><%=i+1%></th>
				<td><%=journey[i].departure%>/<%=journey[i].arrival%></td>
				<td><%=journey[i].date%></td>
				<td><%=journey[i].departureTime%> pm</td>
				<td><%=journey[i].price%> €</td>
			  </tr>
			  <%total += journey[i].price%>
			  <%}%>
			  <tr class="table-danger">
				<th scope="row">Total</th>
				<td></td>
				<td></td>
				<td></td>
				<td><%= total %> €</td>
			  </tr>
			</tbody>
		  </table>
		  <div class="d-flex justify-content-end">
		  	<button type="submit" class="btn btn-danger">Confirm</button>
		  </div>
	</div>

</body>
</html>