<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- -->
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>   
    
    <!-- Custom styles for this template-->
     <link rel="stylesheet" href="stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>
    
    <%- include('header') %>
    <div class="container-fluid">

    <div class="resarange col-12 offset-lg-1 col-lg-10 offset-lg-1">

    <%if(selectJourney.length != 0) {

        for(var i=0; i<selectJourney.length; i++) {
        var date = dateFormat(selectJourney[i].date)%>
      
        <%}

        } else {%>
            <div class="resa-title"></div>
            <h3 class="offset-lg-3">No dates found</h3>
             </div>
        <%}%>


    <div class="resa-title">
    <h3 class="offset-lg-3">Tickets available on : <%=date%> </h3>
    </div>
   
    
    <%for(var i=0; i<selectJourney.length; i++) {%>
    <ul class="list-group" >  
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">       
            <h5><%=selectJourney[i].departure%> / <%=selectJourney[i].arrival%></h5>    
            <span>Train departure at : <%=selectJourney[i].departureTime%></span>
            <span><%=selectJourney[i].price%> €</span>
            <form action="/confirm" method="POST">
                <input type="hidden" name="id" value="<%=selectJourney[i]._id%>">
            
                <button class="btn btn-danger">OK</button>
            </form>
        </div> <!-- card-body -->
        
    </li> <!-- card-range -->
   
    
    </ul>
    <%}%>
  </div> <!-- resarange -->

  
 
   
        

    </div> <!-- container -->

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>